.todo-list {
  margin: 0 auto;
  max-width: 60rem;
  min-width: 30rem;

  .icon {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
  }

  &___header {
    background: linear-gradient(#6e9ef8, #5979b4);
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem;

    &-calendar {
      display: flex;

      &--icon {
        margin-right: 1rem;
      }

      &--list-name {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }

    &-controls {
      &--edit{
        margin-right: 2rem;
      }
    }
  }

  &__input {
    background: linear-gradient(#FFFFFF, #ABABAB);
    min-height: 5rem;

    display: flex;
    align-items: center;

    &--plus {
      margin: 0 1.5rem 0 1.5rem;
      flex: 0 0 auto;
    }

    &--form {
      flex: 0 2 90%;
      display:flex;
      flex-wrap: wrap;

      &--input-todo {
        flex: 4 4 30rem;
        height: 3rem;
        padding-left: 1rem;
        &:focus{
          outline: none;
        }
      }

      &--add-button {
        height: 3rem;
        cursor: pointer;
        background: linear-gradient(#63db8b, #4ea742);
        border-radius: 0 5px 5px 0;
        color: #FFFFFF;
        font-weight: 800;
        border: none;
        outline:none;
        flex: 2 2 6rem;

        &:active {
          background: linear-gradient(#689262, #40614b);
        }
      }
    }
  }

  &__tasks {
    background-color: #fff;
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;
    border: 2px solid #ddd;

    .icon {
      width: 1.3rem;
      height: 1.3rem;
    }

    .check-box {
      margin: 0 1.5rem 0 1.5rem;
    }

    &-item {
      text-decoration: none;
      list-style: none;
    }

    &-controls {
      margin-right: 2rem;
      display: flex;
      flex: 0 0 15%;
      justify-content: space-between;
    }
  }
}
