<div class="todo-list">
  <div class="todo-list___header">
    <div>
      <span class="todo-list___header--calendar">cal</span>
      <span class="todo-list___header--name">name</span>
    </div>
    <div>
      <span class="todo-list___header--edit">edit</span>
      <span class="todo-list___header--delete">delete</span>
    </div>
  </div>

  <div class="todo-list__input">
    <div class="todo-list__input--icon"></div>
    <div class="todo-list__input--form">
      <form action="#">
        <input type="text" placeholder="Start typing here to create a task...">
        <button type="submit">Add task</button>
      </form>
    </div>
  </div>

  <div class="todo-list__tasks">
    <ul class="todo-list__tasks--item"></ul>
  </div>
</div>
